*.exe
*.exe;
*.dll
*.so
*.dylib
*.test
*.out
/bin/
/dist/
/tmp/

.env
.env.local
.env.*.local

.idea/
*.iws
*.iml
*.ipr

.DS_Store
Thumbs.db

/postgres_data/
/redis_data/

*.cover
*.coverage
coverage.txt
coverage.out
*.log